<!DOCTYPE html>
<html>

<head>
    <title>First Page</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="img/logo.png">
            </div>
            <ul>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/overview">Overview</a></li>
                <li><a href="/team">Team</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
        <h1>
            <span>W</span>
            <span> E</span>
            <span>B</span>
            <span>-</span>
            <span>B</span>
            <span>E</span>
            <span>E</span><br>
        </h1>
        <div class="button">
            <a href="/register" class="btn">LET'S START</a>
        </div>

    </header>
</body>
</html>