<!DOCTYPE html>
<html>

<head>
    <title>Overview</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/overviewstyle.css">
</head>

<body>
    <div class="section">
        <div class="container">
            <div class="content-section">
                <div class="title">
                    <h1>Overview of the Application</h1>
                </div>
                <div class="content">
                    <h3>The beautiful thing about learning is that no one can take it away from you.</h3>
                    <p>Web-Bee is an online learning platform featuring course related subjects for students who are shy of asking doubts directly in the class so that, they can learn and get there doubts cleared direct from their tutors anonymously.It's
                        is an interesting and fun way to learn for the generations yet to come by offering them what they might lack during classes.</p>

                </div>
            </div>
            <div class="image-section">
                <img src="img/overviewimg.jpg">
            </div>
        </div>
    </div>
</body>

</html>