<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>team</title>

  <link rel="stylesheet" href="css/teamstyle.css">
</head>

<body>
  <div class="container">
    <h1 class="heading"><span>meet</span>Our Team</h1>

    <div class="profiles">
        <div class="profile">
        <img src="img/taruna.jpg" class="profile-img">  
           <h3 class="user-name">Taruna</h3>
        <h5>Btech. EC</h5>
        <p>Third Year <br>ROLL no: 1813030<br> 2018-2022</p>
      </div> 
        <div class="profile">
        <img src="img/pp.jpg" class="profile-img">

        <h3 class="user-name">Stuti</h3>
        <h5>Btech. EC</h5>
        <p>Third Year <br>ROLL no: 1813028<br> 2018-2022</p>  
      </div>
      <div class="profile">
        <img src="img/nidhi.jpg" class="profile-img">

        <h3 class="user-name">Nidhi</h3>
        <h5>Btech. EC</h5>
        <p>Third Year <br>ROLL no: 1812984<br> 2018-2022</p>
      </div>
      <div class="profile">
        <img src="img/prachi.jpg" class="profile-img">

        <h3 class="user-name">Prachi</h3>
        <h5>Btech. EC</h5>
        <p>Third Year <br>ROLL no: 1812997<br> 2018-2022</p>
      </div> 
    </div>
  </div>
</body>
</html>